.container-fluid {
  width: 65% !important;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;

}

.time {
  color: #FF1E56;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
margin-left: 4px;
}

.brand-name {
  font-weight: bolder;
}

.nav-item {
  margin-right: 15px;
  font-weight: bolder;
}

.nav-link:hover {
  color: #31E1F7 !important;
}


/* MEDIA QUERRY */

@media screen and (max-width: 680px) {
  .container-fluid {
    width: 100% !important;
  }
}