.container-fluid {
  width: 65% !important;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;

}

.time {
  color: darkgreen;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
/* margin-left: 4px; */
border: 2px solid black;
box-shadow: 2px 1px 2px 2px black;
display: inline-block;
border-radius: 5%;
}

.brand-name {
  font-weight: bolder;
}

.nav-item {
  margin-right: 15px;
  font-weight: bolder;
}

.nav-link:hover {
  color: #31E1F7 !important;
}


/* MEDIA QUERRY */

@media screen and (max-width: 680px) {
  .container-fluid {
    width: 100% !important;
  }
}